meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Planeación de la implementación de BPA
meta(meta name="description" content="Realizar la planeación en un predio productivo agrícola, permite proyectar las actividades a desarrollar, para la implantación de un sistema de producción bajo los criterios de buenas prácticas agrícolas, según el diagnóstico de los procesos desarrollados en la unidad productiva, basados en los requisitos de cumplimiento para certificarse en BPA y así garantizar la calidad del producto para el consumidor.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")