h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 22060107001-2.] Aplicar criterios técnicos para la planeación de implementación de buenas prácticas agrícolas en el sistema productivo según normatividad.