.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Agroquímicos:
            | también llamados productos fitosanitarios, son sustancias que protegen la sanidad de las plantas, y con ello nuestros alimentos.
        hr
        p
            strong.mr-2 Archivar:
            | es el arte de conservar en orden debidamente agrupada y protegidos, los documentos pertenecientes a un individuo, firma, asunto, proceso o zona geográfica.
        hr
        p
            strong.mr-2 Bioinsumos:
            | son productos biológicos obtenidos a partir de organismos vivos o sus derivados, tales como hongos, bacterias, material vegetal, enzimas u otros, que mediante el uso de herramientas biotecnológicas permiten generar bioestimulantes, biofertilizantes, biocontroladores, bioestabilizadores, bioinoculantes entre otros.
        hr
        p
            strong.mr-2 BPA:
            | buenas prácticas agrícolas.
        hr
        p
            strong.mr-2 Compostaje:
            | es el proceso biológico aeróbico, mediante el cual los microorganismos actúan sobre la materia rápidamente biodegradable (restos de cosecha, excrementos de animales y residuos urbanos), permitiendo obtener "compost", abono excelente para la agricultura.
        hr
        p
            strong.mr-2 Control etológico de plagas:
            | se entiende como la utilización de métodos de control que aprovechan las reacciones de comportamiento en respuesta a la presencia u ocurrencia de estímulos de naturaleza química, física y/o mecánica.
        hr
        p
            strong.mr-2 Gestión documental:
            | conjunto de procesos que se enfocan en la revisión, almacenamiento y recuperación de los documentos.
        hr
        p
            strong.mr-2 Registro:
            | es un reconocimiento de una determinada situación que se considera de relevancia.
        hr
        p
            strong.mr-2 Riesgo:
            | posibilidad de que se produzca un contratiempo o una desgracia, de que alguien o algo sufra perjuicio o daño.
        hr
        p
            strong.mr-2 Riesgos ergonómicos:
            | son aquellos que pueden dan lugar a trastornos musculoesqueléticos (TME) en la persona trabajadora y se derivan de posturas forzadas, aplicación continua de fuerzas, movimientos repetitivos y manipulación manual de cargas en el puesto de trabajo.
        hr
        p
            strong.mr-2 Riesgos locativos:
            | son aquellos riesgos causados por las condiciones de trabajo de un lugar, es decir, son causados por el lugar de trabajo, indistintamente de la labor que se efectúa en ellos.
        hr
        p
            strong.mr-2 Riesgo Psicosocial:
            | aquellos aspectos del diseño, organización y dirección del trabajo y de su entorno social que puedan causar daños psíquicos, sociales o físicos en la salud de los trabajadores. (Agencia Europea de Seguridad y Salud).
        hr
        p
            strong.mr-2 Trazabilidad:
            | serie de procedimientos que permiten seguir el proceso de evolución de un producto en cada una de sus etapas.
