.container#page-tema-2

    .header-ecored
        h1 2. Gestión documental

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen1.png", alt="").img-fluid

        .row.mt-5

            p La gestión documental es el conjunto de procesos que se enfocan en la revisión, almacenamiento y recuperación de los documentos y de la información de importancia, que se manejan al interior de una empresa.

            p #[strong Documento:] desde un punto de vista general, se define el documento como escrito en el que constan datos fidedignos, que sirve de prueba o testimonio, o que proporciona una información, especialmente de carácter histórico, oficial o legal. Su contenido puede consistir tanto en textos escritos, fotografías, dibujos, películas, como en los nuevos soportes multimedia (páginas web, archivos informáticos, etc.).   


    .jumbotron.bg-white 
        .header#tema-2_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.1]   Planes y procedimientos.

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen2.png", alt="").img-fluid

        .row.mt-5
            p #[strong Planes:] un plan es un modelo sistemático que se desarrolla antes de concretar una cierta acción con la intención de dirigirla. Los planes engloban a su vez, programa, proyectos, procedimientos y registros. 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen3.png", alt="").img-fluid

        .row.mt-5
            p #[strong Procedimientos:] es un documento que indica la forma de realizar el trabajo y el proceso a utilizar respecto al trabajo. El procedimiento está orientado hacia las tareas y se recomienda que se encuentre por escrito, en un documento formal dividiendo las tareas que se deben realizar. El propósito principal del procedimiento es el servir como medio de instrucción.

            p El procedimiento se diseña para representar el flujo de trabajo, excepto con la tarea cubierta; se espera que el procedimiento relacione la tarea del momento con aquellas que la preceden o le siguen.

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen4.png", alt="").img-fluid

        .row.mt-5
            p #[strong Tipos de planes y procedimientos requeridos para BPA ]

        .row.justify-content-center
            .col-12.col-md-6
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan de uso racional de agua. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan para evitar erosión de suelo. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan de mantenimiento, desinfección y calibración de equipos. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan de fertilización.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan de Manejo Integrado de Plagas (MIP).
            .col-12.col-md-6
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan de manejo de residuos líquidos y sólidos.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plan de manejo de contingencia o emergencias. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Procedimiento para la obtención de material de propagación. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Procedimiento para la elaboración de abonos orgánicos.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Procedimientos e instructivos para el manejo de equipos, utensilios y herramientas.


    .jumbotron.bg-white 
        .header#tema-2_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.2]  Registro documental.

        .row.mt-5.tarjeta.justify-content-center.align-items-center
            .col-6.col-md-6.tarjeta-divisor
                img(src="assets/images/pages/tema-2/imagen5.png", alt="").img-fluid
            .col-6.col-md-6
                p Un registro es un reconocimiento de una determinada situación que se considera de relevancia. El término puede referir a un número extenso de circunstancias que tienen en común, el hecho de dejar asentado un determinado fenómeno con sus particularidades específicas, con la finalidad de que exista un conocimiento al respecto para terceros o para un control. 

                p Información escrita que proporciona evidencia objetiva de las actividades desempeñadas en el predio. 

        .row.mt-3
            .col-12
                .header-arrow.my-5
                    h3.text-center Tipos de registros para BPA
        

        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registros de actividades de mantenimiento, limpieza y calibración de equipos y herramientas.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de aplicación e inventario de fertilizantes y plaguicidas.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de capacitaciones al personal.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de actividades desarrolladas para obtención de material vegetal en el predio. 
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de usos de material de propagación. Genéticamente modificado.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de trazabilidad del producto.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registros de preparación de abono orgánico en el predio.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de acciones de protección de fuentes de agua a utilizar en el proceso agrícola.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de resultados de laboratorio del análisis físico químico y microbiológico de agua cumpliendo con Decreto 3930 de 2010 del Ministerio de Ambiente y Desarrollo Sostenible, o aquel que lo modifique, adicione o sustituya.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro del consumo de agua de la actividad productiva.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de resultados de laboratorio del análisis suelo de dos años.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Cuando aplique contar con el listado sobre los limites mínimos de residuos de plaguicidas permitidos en el cultivo por la legislación vigente.
        .row.bg-verde.recuadro-border.mt-5
            .list.mt-3
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                .list__txt    
                    p.text-justify Registro de despacho del producto.


    .jumbotron.bg-white 
        .header#tema-2_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.3] Técnicas de diligenciamiento. 

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen6.png", alt="").img-fluid

        .row.mt-5

            p Lo esencial de cualquier documento es su contenido y la claridad con que se expone, pero la manera de presentarlo también influirá en la facilidad con que se pueda leer. Una adecuada disposición gráfica del documento ayudará a que el lector capte a primera vista la información importante, la organización interna, sus diferentes divisiones antropomórficas: encabezamiento, cuerpo y pie.

            p Los documentos generados en el proceso de implementación de BPA se pueden diligenciar de forma manual o digital. 

            p Es importante que tengan en cuenta que el contenido de los documentos debe redactarse con claridad, sencillez y precisión ya que dicha información es esencial para realizar el seguimiento de implantación de BPA.

            p #[strong Por ejemplo: ]

        .row

            p El registro documental de fertilizantes y plaguicidas debe contener como mínimo:

        .row.mt-5.tarjeta.justify-content-center.align-items-center
            .col-6.col-md-6
                img(src="assets/images/pages/tema-2/imagen7.png", alt="").img-fluid
            .col-6.col-md-6.tarjeta-divisor-izquierda
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Identificación del predio.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre comercial del producto.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Concentración del producto a aplicar.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Número de registro ICA.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Fecha de aplicación. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Dosis, forma y método de aplicación. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre y firma de quien aplico y recomendó. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Plagas por controlar. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Ingrediente activo cuando es plaguicida.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Periodo de carencia para plaguicidas.

        .row.mt-5

            p Registro de capacitaciones de personal; dicho registro debe indicar:

        .row.mt-5.tarjeta.justify-content-center.align-items-center
            .col-6.col-md-6
                img(src="assets/images/pages/tema-2/imagen8.png", alt="").img-fluid
            .col-6.col-md-6.tarjeta-divisor-izquierda
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Fecha. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Título de capacitación.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Tema de capacitación.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre del capacitador e institución.  

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre, firma y datos de cada operario capacitado. 

        .row.mt-5

            p Registro de transporte del producto: 

        .row.mt-5.tarjeta.justify-content-center.align-items-center
            .col-6.col-md-6
                img(src="assets/images/pages/tema-2/imagen9.png", alt="").img-fluid
            .col-6.col-md-6.tarjeta-divisor-izquierda
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Fecha. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Cantidad de producto.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre del predio de origen.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre del comparador. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Número de guía de despacho.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/icons/icon-terminal-doble.svg").img-fluid  
                    .list__txt    
                        p.text-justify Nombre del transportista. 


    .jumbotron.bg-white 
        .header#tema-2_4.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.4]  Archivo.

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen10.png", alt="").img-fluid

        .row.mt-5

            p #[strong Archivar:] es el arte de conservar en orden debidamente agrupada y protegidos, los documentos pertenecientes a un individuo, firma, asunto, proceso o zona geográfica.

        .row.justify-content-center.align-items-center.mt-5
            img(src="assets/images/pages/tema-2/imagen11.png", alt="").img-fluid

        .row.mt-5

            p #[strong Administración de documentos:] proceso de planificar, organizar, dirigir, y controlar todas aquellas actividades relacionadas con los documentos.

            p La clasificación es el premier paso del conjunto de procesos destinados a la organización de archivos, tendientes a controlar, recuperar y conservar la información contenida en los documentos para su utilización administrativa, jurídica y científica.

            p Los archivos generados del proceso de implementación de BPA se conservarán por lo menos dos años posterior a la expedición del certificado.

        .row.mt-5










