//Colores base del material de formación
$brand-color-dark: #71954C;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #8C7B5A;
$text-color-light: #DB9600;
$brand-color-secondary: #70A83B;

